.logo {}

h1 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: italic;
   font-size: xx-large;
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: blue;
}

h2 {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
font-size: xx-large;
color: #fff;
}

p {
   font-size: x-large;
   display: flex;
   justify-content: center;
   color: aliceblue;
   margin: 3em;
  
}

body {
   background-image: url("/images/Mario-bg.webp");
   background-size: 100vw 100vh;
   background-attachment: fixed;
}

div.home {
   border: 10px double black;
   border-color: blue;
}

table,
td {
   border: 1px solid #333;

   align-items: flex-end;
}

thead,
tfoot {
   background-color: #333;
   color: #fff;
}

.bottom-right {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}

.website-heading {
   font-size: xx-large;
}



.intro-border {
   text-align: center;
}

footer {
   text-align: center;
   align-items: flex-end;
   position: fixed;
   bottom: 0%;
   width: 100%;
   padding: 5px;
   background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important;
   color: #fff;
}

.text-end{
   margin-left: 60%;
   
}